body {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 17px;
    text-align: center;
}

.important {
    color: palevioletred;
    font-style: bold;
}

.aboutme {
    font-family: 'Times New Roman', Times, serif;
}

.column {
    width: 500px;
    float: left;
}