body {
    background-color: white;
}

h1 {
    color: black;
    font-family: fantasy;
    font-size: 17px;
    text-align: center;
}

.important {
    color: palevioletred;
    font-style: bold;
}

.aboutme {
    font-family: 'Times New Roman', Times, serif;
}